<ion-content>
  <ion-grid>

    @if (tiendas.isLoading()) {
      <ion-row>
        <ion-col size="12">
          <p class="text-center">Cargando tiendas...</p>
        </ion-col>
      </ion-row>
    } @else if (tiendas.error()) {
      <ion-row>
        <ion-col size="12">
          <p class="text-center text-danger">
            Error al cargar tiendas: {{ tiendas.error() | json }}
            <ion-button (click)="tiendas.reload()" color="rojo-pastel">Reintentar</ion-button>
          </p>
        </ion-col>
      </ion-row>
    } @else if (tiendas.hasValue()) {
      <ion-row>
        @for (tienda of tiendas.value(); track tienda.id) {
          <ion-col size="12">
            <app-tarjeta-tienda
              [nombre]="tienda.nombre"
              [ubicacion]="tienda.direccion"
              [logo]="'https://img.freepik.com/vector-premium/logotipo-sobre-tema-tienda-mascotas-peces-nadando-acuario-ilustracion-vectorial-estilo-linea_608021-565.jpg'">
            </app-tarjeta-tienda>
          </ion-col>
        } @empty {
          <ion-col size="12">
            <p class="text-center text-muted">No hay tiendas disponibles.</p>
          </ion-col>
        }
      </ion-row>

    }
  </ion-grid>
</ion-content>
