<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <app-tarjeta-tienda
          nombre="Acuario Coral Reef"
          ubicacion="Barcelona, España"
          logo="https://marketplace.canva.com/EAGM0DTij-w/1/0/1600w/canva-logotipo-para-veterinaria-animado-de-perro-rI2OjFl3Uf0.jpg">
        </app-tarjeta-tienda>
      </ion-col>

      <ion-col size="12">
        <app-tarjeta-tienda
          nombre="Ocean Blue"
          ubicacion="Madrid, España"
          logo="https://media.istockphoto.com/id/974169696/es/vector/logotipo-de-la-tienda-de-mascotas-icono-de-perro-y-gato-vector-logo-emblema-elementos-de.jpg?s=612x612&w=0&k=20&c=j7VNEbN1uQgRSYTk0iId7hVGD0uSTCOiYqWpR9e5jCI=">
        </app-tarjeta-tienda>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
