/* Footer transparente, sin sombra ni borde */
.custom-footer,
.custom-footer::before,
.custom-footer::after {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}


/* Row redondeado */
.rounded-row {
  border-radius: 50px;
  background-color: white;
  padding: 10px; /* espacio interno del row */
  justify-content: space-between; /* separación entre columnas */
  align-items: center;
}

/* Columnas circulares */
.circle-col {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: white;
  font-size: 24px;
  margin: 0 5px; /* separación lateral entre columnas */
}
