/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';


ion-content {
  --keyboard-offset: none !important;
  --ion-background-color:#1473D2 !important;
  --box-shadow: none;
  --border-width: 0;
}


ion-grid {
  --box-shadow: none;
  --border-width: 0;
}



.items-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-title {
  font-family: "Lemonada", cursive;
  font-size: 1.5rem;
  text-align: center;
}

ion-card-title {
  font-family: "Lemonada", cursive;
  font-size: 1.1rem;
  color: black;
  text-align: center;
}

@media (max-width: 400px) {
  ion-title {
    font-size: 1.2rem;
  }
}

.centrar{
  display:flex;
  align-items: center;
  justify-content: center
}


:root {
  --ion-color-rojo-pastel: #E84E5F;
  --ion-color-rojo-pastel-rgb: 232, 78, 95;
  --ion-color-rojo-pastel-contrast: #ffffff;
  --ion-color-rojo-pastel-contrast-rgb: 255, 255, 255;
  --ion-color-rojo-pastel-shade: #cc4454;
  --ion-color-rojo-pastel-tint: #ec6977;
}

:root {
  --ion-color-srojo-pastel: #ec6977;
  --ion-color-srojo-pastel-rgb: 236, 105, 119;
  --ion-color-srojo-pastel-contrast: #ffffff;
  --ion-color-srojo-pastel-contrast-rgb: 255, 255, 255;
  --ion-color-srojo-pastel-shade: #d15c6a;
  --ion-color-srojo-pastel-tint: #f08490;
}

.ion-color-rojo-pastel {
  --ion-color-base: var(--ion-color-rojo-pastel);
  --ion-color-base-rgb: var(--ion-color-rojo-pastel-rgb);
  --ion-color-contrast: var(--ion-color-rojo-pastel-contrast);
  --ion-color-contrast-rgb: var(--ion-color-rojo-pastel-contrast-rgb);
  --ion-color-shade: var(--ion-color-rojo-pastel-shade);
  --ion-color-tint: var(--ion-color-rojo-pastel-tint);
}

.ion-color-srojo-pastel {
  --ion-color-base: var(--ion-color-srojo-pastel);
  --ion-color-base-rgb: var(--ion-color-srojo-pastel-rgb);
  --ion-color-contrast: var(--ion-color-srojo-pastel-contrast);
  --ion-color-contrast-rgb: var(--ion-color-srojo-pastel-contrast-rgb);
  --ion-color-shade: var(--ion-color-srojo-pastel-shade);
  --ion-color-tint: var(--ion-color-srojo-pastel-tint);
}

